img {
  width: 200px;
  transition-property: width;
}
img::after {
  width: 100%;
  height: 120px;
  background-color: black;
}
img:hover {
  width: 300px;
}

img {
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
